@font-face {
    font-family: 'JetBrainsMapleMono';
    font-display: swap;
    src: url('/fonts/JetBrainsMapleMono.ttf') format("truetype");
}


@font-face {
    font-family: 'HarmonyOS Sans SC';
    font-display: swap;
    src: url('/fonts/HarmonyOS_Sans_SC_Regular.ttf') format("truetype");
}
